.photo {
    display:inline-block;
    width: 300px;
    min-height: 300px;
    border: none;
    border-color: green;
    padding:10px;

.carousel {
 height:500px;
 width:500px;
}

input {
  border: 1px solid #000;
}



}
.photo:hover {
    transform: scale(1.2)
}


.tlo::after{
    content: "";
    clear:both;
    display:table;
}

*{background-color:cyan}



.post {
padding: 10px;
margin: 5px;
background-color: #f3f3f3;
}

