{% extends "base.html" %}

{% block title %} O mnie {% endblock %}
{% block body %}
<!--<div class="menu">-->
        <!--<a href="{{ url_for('contact')}}">Kontakt</a>-->
        <!--<a href="{{ url_for('about')}}">O mnie</a>-->
        <!--<a href="{{ url_for('index')}}">Strona domowa</a>-->
<!--</div>-->
<div class="container">
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Galeria</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet justo
fermentum dolor sagittis vulputate.</p>

<div class="container">
  <div class="row">
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
    <div class=".col-sm-">
      <a href="{{ url_for('static', filename='Kot.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
      <img class='photo img-fluid' src="{{ url_for('static', filename='Kot.jpg') }}" alt="Cat1" >
      </a>
    </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();


});
</script>

{% endblock %}
